<section class="hero is-medium is-info is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-1">
        Supply Chain
      </h1>
    </div>
  </div>
</section>


<ng-template ngFor let-chain [ngForOf]="chains">

  <br>

  <div class="container">
    <h1 class="title">{{ chain.name }}</h1>
  </div>

  <br>

  <p-dataTable [value]="chain.steps" [paginator]="true" rows="15" [responsive]="true">

    <p-header>Steps List</p-header>

    <p-column field="product" header="Product" [sortable]="true"></p-column>
    <p-column field="operation" header="Operation" [sortable]="true"></p-column>
    <p-column field="createTime" header="Create Time" [sortable]="true"></p-column>

    <p-footer>
      <div class="ui-helper-clearfix" style="width:100%">
        <button type="button" pButton icon="fa-plus" style="float:left" (click)="showAddStepDialog()" label="Add"></button>
      </div>
    </p-footer>
  </p-dataTable>

  <p-dialog header="Add Step" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true">

    <div class="ui-grid ui-grid-responsive ui-fluid">
      <div class="ui-grid-row">
        <div class="ui-grid-col-4"><label for="product">Product</label></div>
        <div class="ui-grid-col-8"><input pInputText id="product" [(ngModel)]="newStep.product" /></div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-4"><label for="operation">Operation</label></div>
        <div class="ui-grid-col-8"><input pInputText id="operation" [(ngModel)]="newStep.operation" /></div>
      </div>
    </div>

    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <button type="button" pButton icon="fa-check" (click)="addStepForSupplyChain(chain.uid)" label="Save"></button>
      </div>
    </p-footer>

  </p-dialog>
</ng-template>
